#
# Copyright (c) 2019 Siddharth Chandraskeran <siddharth@embedjournal.com>
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig OSDP
	bool "Open Supervised Device Protocol (OSDP) driver"
	help
	  Add support for Open Supervised Device Protocol (OSDP)

if OSDP

config OSDP_UART_DEV_NAME
	string "Device mame of UART device for OSDP"
	default "$(dt_chosen_label,osdp)" if HAS_DTS
	default "UART_1"
	help
	  This option specifies the name of UART device to be used for
	  OSDP

config OSDP_CONF_NUM_PD
	int "Number of configured PDs"
	default 1
	help
	  In CP mode, this variable indicates the number of PD connected
	  the this CP. In multi-drop connection, there can be as many as
	  127 PDs. When initialized as PD, this value must left to 1.

choice
	prompt "OSDP Mode of Operation"
	config OSDP_MODE_CP
		bool "Configure OSDP in CP mode"
		help
		  Configure this device to operate as a Control Pannel
	config OSDP_MODE_PD
		bool "Configure OSDP in PD mode"
		help
		  Configure this device to operate as a Peripheral Device
endchoice

if OSDP_MODE_PD

config OSDP_CAP
	bool "Configure PD Capabilities"

# Contact Status Monitoring

config OSDP_CAP_CONTACT_STATUS_MONITORING
	bool "Contact Status Monitoring"
	depends on OSDP_CAP

config OSDP_CAP_CONTACT_STATUS_MONITORING_COMPLIANCE_LEVEL
	int "Compliance Level"
	depends on OSDP_CAP_CONTACT_STATUS_MONITORING
	default 0
	help
	  01: PD monitors and reports the state of the circuit without any
	      supervision. The PD encodes the circuit status per its default
	      interpretation of contact state to active/inactive status.
	  02: Like 01, plus: The PD accepts configuration of the encoding
	      of the open/closed circuit status to the reported active/inactive
	      status. (User may configure each circuit as "normally closed"
	      or "normally open".)
	  03: Like 02, plus: PD supports supervised monitoring. The operating
	      mode for each circuit is determined by configuration settings.
	  04: Like 03, plus: the PD supports custom End-Of-Line settings within
	      the Manufacturer's guidelines.

config OSDP_CAP_CONTACT_STATUS_MONITORING_NUM_UNITS
	int "Number of Units"
	depends on OSDP_CAP_CONTACT_STATUS_MONITORING
	default 0
	help
	  Number of units of this capability

# Output Control

config OSDP_CAP_OUTPUT_CONTROL
	bool "Output Control"
	depends on OSDP_CAP

config OSDP_CAP_OUTPUT_CONTROL_COMPLIANCE_LEVEL
	int "Compliance Level"
	depends on OSDP_CAP_OUTPUT_CONTROL
	default 0
	help
	  01: The PD is able to activate and deactivate the Output per direct
	      command from the CP
	  02: Like 01, plus: The PD is able to accept configuration of the
	      Output driver to set the inactive state of the Output. The typical
	      state of an inactive Output is the state of the Output when no power
	      is applied to the PD and the Output device (relay) is not energized.
	      The inverted drive setting causes the PD to energize the Output
	      during the inactive state and de-energize the Output during the
	      active state.
	  03: Like 01; plus: The PD is able to accept timed commands to the
	      Output. A timed command specifies the state of the Output for the
	      specified duration.
	  04: Like 02 and 03; normal/inverted drive and timed operation.

config OSDP_CAP_OUTPUT_CONTROL_NUM_UNITS
	int "Number of Units"
	depends on OSDP_CAP_OUTPUT_CONTROL
	default 0
	help
	  Number of units of this capability

# Reader LED Control

config OSDP_CAP_READER_LED_CONTROL
	bool "Reader LED Control"
	depends on OSDP_CAP

config OSDP_CAP_READER_LED_CONTROL_COMPLIANCE_LEVEL
	int "Compliance Level"
	depends on OSDP_CAP_READER_LED_CONTROL
	default 0
	help
	  01: the PD support on/off control only
	  02: the PD supports timed commands
	  03: like 02, plus bi-color LEDs
	  04: like 02, plus tri-color LEDs

config OSDP_CAP_READER_LED_CONTROL_NUM_UNITS
	int "Number of Units"
	depends on OSDP_CAP_READER_LED_CONTROL
	default 0
	help
	  Number of units of this capability

# Reader Audible Output

config OSDP_CAP_READER_AUDIBLE_OUTPUT
	bool "Reader Audible Output"
	depends on OSDP_CAP

config OSDP_CAP_READER_AUDIBLE_OUTPUT_COMPLIANCE_LEVEL
	int "Compliance Level"
	depends on OSDP_CAP_READER_AUDIBLE_OUTPUT
	default 0
	help
	  01: the PD support on/off control only
	  02: the PD supports timed commands

config OSDP_CAP_READER_AUDIBLE_OUTPUT_NUM_UNITS
	int "Number of Units"
	depends on OSDP_CAP_READER_AUDIBLE_OUTPUT
	default 0
	help
	  Number of units of this capability

# Reader Text Output

config OSDP_CAP_READER_TEXT_OUTPUT
	bool "Reader Text Output"
	depends on OSDP_CAP

config OSDP_CAP_READER_TEXT_OUTPUT_COMPLIANCE_LEVEL
	int "Compliance Level"
	depends on OSDP_CAP_READER_TEXT_OUTPUT
	default 0
	help
	  00: The PD has no text display support
	  01: The PD supports 1 row of 16 characters
	  02: the PD supports 2 rows of 16 characters

config OSDP_CAP_READER_TEXT_OUTPUT_NUM_UNITS
	int "Number of Units"
	depends on OSDP_CAP_READER_TEXT_OUTPUT
	default 0
	help
	  Number of units of this capability

# Communication Security

config OSDP_CAP_COMMUNICATION_SECURITY
	bool "Communication Security"
	depends on OSDP_CAP

config OSDP_CAP_COMMUNICATION_SECURITY_COMPLIANCE_LEVEL
	int "Compliance Level"
	depends on OSDP_CAP_COMMUNICATION_SECURITY
	default 0
	help
	  This field is a bit map of the supported encryption algorithms
	  0x01: (Bit-0) AES128 support
	  0x02: (Bit-1) to be defined

config OSDP_CAP_COMMUNICATION_SECURITY_NUM_UNITS
	int "Number of Units"
	depends on OSDP_CAP_COMMUNICATION_SECURITY
	default 0
	help
	  Number of units of this capability

endif #OSDP_MODE_PD

endif # OSDP
